'scopeName': 'source.freefem'
'name': 'Freefem++'
'fileTypes': [
	'edp'
	'idp'
]

'patterns': [
	{
		'begin': '//'
		'end': '\\n'
		'name': 'comment.line.double-slash.freefem'
	}
	{
		'match': '\\b(break|catch|continue|else|for|if|include|load|return|throw|try|while)\\b'
		'name': 'keyword.control.freefem'
	}
	{
		'match': '\\b(bool|border|complex|fespace|func|ifstream|int|macro|matrix|mesh|mesh3|ofstream|problem|real|solve|string|varf)\\b'
		'name': 'storage.type.freefem'
	}
	{
		'match': '\\b(abs|acos|acosh|adaptmesh|adj|AffineCg|AffineGMRES|asin|asinh|assert|atan|atan2|atanh|BFGS|buildlayers|buildmesh|ceil|change|checkmovemesh|clock|cmaes|conj|convect|cos|cosh|cube|dfft|diffnp|diffpos|dist|dx|dy|dz|dxx|dxy|dxz|dyy|dyz|dzz|EigenValue|emptymesh|erf|exec|exit|exp|fdim|floor|fmax|fmin|fmod|imag|int1d|int2d|intalledge|interpolate|invdiffnp|invdiffpos|isoline|j0|j1|jn|jump|LinearCG|LinearGMRES|log|log10|max|mean|medit|min|movemesh|movemesh23|NLCG|on|plot|polar|pow|projection|readmesh|readmesh3|round|savemesh|savesol|set|sin|sinh|sort|splitmesh|sqrt|square|tan|tanh|tetg|tetgconvexhull|tetgreconstruction|tetgtransfo|trunc|y0|y1|yn|flush|getline|seekg|tellg)\\('
		'captures':
			'1':
				'name': 'support.function.freefem'
	}
	{
		'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((E|e)(\\+|-)?[0-9]+)?\\b'
		'name': 'constant.numeric.freefem'
	}
	{
		'match': '\\b(cin|cout|endl|false|i|pi|true|x|y|z|CG|Cholesky|Crout|GMRES|LU|N|P|sparsesolver|verbosity|version|qf1pE|qf2pE|qf3pE|qf5pE|qf1pElump|qf1pT|qf2pT|qf5pT|qf1pTlump|qf2pT4P1|qf7pT|qf9pT|qfV1|qfV2|qfV5|qfV1lump|append|binary)\\b'
		'name': 'support.constant.freefem'
	}
	{
		'begin': '"'
		'beginCaptures':
			'0':
				'name': 'punctuation.definition.string.begin.freefem'
		'end': '"'
		'endCaptures':
			'0':
				'name': 'punctuation.definition.string.end.freefem'
		'name': 'string.quoted.double.freefem'
	}
]
